@using BreeceWorks.CommunicationHub.Pages.Components;

@page "/opencasecommunications"

<h3>Case Communications</h3>
<script type="text/javascript">

    EndOfList = () => {
        var lastChild = document.getElementById("MessageList").lastChild;
        lastChild.parentNode.parentNode.scrollTop = lastChild.offsetTop - lastChild.parentNode.parentNode.offsetTop;
    }
</script>
<div>
    <table>
        <tr>
            <td>
                <button @onclick="@(() => OpenCaseDetails(curCaseID))">Case Details</button>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr><td>Select agent to operate as.  </td></tr>
                    <tr><td>This is just for the beta demo.</td></tr>
                    <tr><td>In a release version, the user would be required to login and this would determine who they are operating as.</td></tr>
                    <tr><td>If the case has been assigned to an agent, then that agent will be able to send messages to the customer</td></tr>
                    <tr><td><OperatorSelection @bind-Value="AssignOperatorID" /></td></tr>
                </table>
            </td>
        </tr>
    </table>
</div>
@if (caseTranscript == null)
{
    <p><em>Loading...</em></p>
}
else
{ @if (ErrorMessage != String.Empty)
    {
        <p style="color:red"><em>@ErrorMessage</em></p>
    }
    <table>
        <tr>
            <td>
                @if (caseTranscript.PrimaryContact != null)
                {
                    <h4>Primary Contact</h4>
                    <p>First Name: @caseTranscript.PrimaryContact.FirstName</p>
                    <p>Last Name: @caseTranscript.PrimaryContact.LastName</p>
                    <p>Email: @caseTranscript.PrimaryContact.Email</p>
                    <p>Mobile: @caseTranscript.PrimaryContact.PhoneNumber</p>
                }

            </td>
            <td style="margin: 0; padding: 0; vertical-align: top">
                <table>
                    <tr>
                        <td>
                            <div style="height: 500px; overflow:auto; margin: 0 ">
                                <ul id="MessageList">
                                    @if (caseTranscript.Messages != null)
                                    {
                                        foreach (BreeceWorks.Shared.CaseObjects.Message message in caseTranscript.Messages.ToList())
                                        {
                                            <li style="border-style:double; border-color: black; border-radius: 25px;">
                                                <table>
                                                    <tr>
                                                        <td style="width: 80%;">
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                        <table>
                                                                            <tr>
                                                                                <td><b>Message: </b>@message.Data</td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                                @if (message.MessageAttachments != null && message.MessageAttachments.Count > 0)
                                                                {
                                                                    <tr><td>Attachment(s) Included</td></tr>
                                                                    <tr><td> </td></tr>
                                                                    foreach (BreeceWorks.Shared.CaseObjects.MessageAttachment messageAttachment in message.MessageAttachments)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <table>
                                                                                    @if (messageAttachment.Extension.ToLower() == ".jpg" || messageAttachment.Extension.ToLower() == ".png" || messageAttachment.Extension.ToLower() == ".bmp" || messageAttachment.Extension.ToLower() == ".jpeg")
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                <a href="@String.Format("{0}/api/SMSAttachment/attachment-download/{1}", SMSCoreWebApi ,messageAttachment.Id)" target="_blank"><img id="ItemPreview" height="200" width="200" src="@String.Format("{0}/api/SMSAttachment/attachment-download/{1}", SMSCoreWebApi ,messageAttachment.Id)"></a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <tr>
                                                                                            <td>
                                                                                                Type: @messageAttachment.ContentType
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <a href="@String.Format("{0}/api/SMSAttachment/attachment-download/{1}", SMSCoreWebApi ,messageAttachment.Id)" target="_blank">@messageAttachment.Name@messageAttachment.Extension</a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    }
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            </table>
                                                        </td>
                                                        <td>
                                                            <table>
                                                                @if (message.Author != null)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <table>
                                                                                <tr>
                                                                                    <td><b>Name: </b>@message.Author.Profile.FirstName @message.Author.Profile.LastName</td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                else
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <table>
                                                                                <tr>
                                                                                    <td><b>Source: </b>@message.ChannelSource   </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                <tr>
                                                                    <td><b>Created At: </b>@message.CreatedAt</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <table>
                                                                            <tr>
                                                                                <td><b>Status: </b></td>
                                                                                <td><div style="color: @GetMessageStatusColor(message.Status)">@message.Status</div></td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td>
                                                    </tr>                                                 
                                                </table>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="visibility: @SendMessageVisibility();">
                                <tr>
                                    <td>
                                        <label>Message: </label><InputText @bind-Value="curMessageText" />
                                    </td>
                                    <td>
                                        <button @onclick="@(() => SendMessage())">Send Message</button>
                                    </td>
                                    <td>
                                        <label>Select your file: </label>
                                    </td>
                                    <td>
                                        <InputFile @key="@_inputFileId" OnChange="FileUploaded"></InputFile>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
}
