@page "/customercases"

<h3>Customer Cases</h3>

@if (activeCases == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (activeCases.Errors != null && activeCases.Errors.Any())
    {
        <p><em>@activeCases.Errors[0].Detail</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Case State</th>
                    <th>Case Type</th>
                    <th>Claim Number</th>
                    <th>Policy Number</th>
                    <th>Date Of Loss</th>
                    <th>Get Case Details</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customerCase in activeCases.Cases)
                {
                    <tr>
                        <td>@customerCase.State</td>
                        <td>@customerCase.CaseType</td>
                        <td>@customerCase.CaseData.ClaimNumber</td>
                        <td>@customerCase.CaseData.PolicyNumber</td>
                        <td>@customerCase.CaseData.DateOfLoss</td>
                        <td><button @onclick="@(() => GetCaseDetails(customerCase.CaseData.Id.Value))">Get Case Details</button></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

