@using BreeceWorks.CommunicationHub.Pages.Components;
@page "/newCase"


<h3>New Case</h3>

@if (caseCreateRqst == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (!String.IsNullOrEmpty(ErrorMessage))
    {
        <p style="color:red"><em>@ErrorMessage</em></p>
    }
     
        @if (caseCreateRqst.CaseData != null)
        {
            <h4>Case Data</h4>
            <p>Case ClaimNumber: <div><InputText @bind-Value="caseCreateRqst.CaseData.ClaimNumber" /></div></p>
            <p>Case DateOfLoss: <div><InputText @bind-Value="caseCreateRqst.CaseData.DateOfLoss"  /></div></p>
            <p>Case PolicyNumber: <div><InputText @bind-Value="caseCreateRqst.CaseData.PolicyNumber" /></div></p>
            <p>Case Deductible: <div><input type="number" @bind="@caseCreateRqst.CaseData.Deductible" /></div></p>
            <p>Case Brand:  <div><InputText @bind-Value="caseCreateRqst.CaseData.Brand" /></div></p>
            @if (caseCreateRqst.CaseData.LineOfBusiness != null)
            {
                <h5>Line of Business</h5>
                <p>Type: <div><InputText @bind-Value="caseCreateRqst.CaseData.LineOfBusiness.Type" /></div></p>
                <p>SubType: <div><InputText @bind-Value="caseCreateRqst.CaseData.LineOfBusiness.SubType" /></div></p>
                <td><button @onclick="@(() => RemoveLineOfBusiness())">Remove Line Of Business</button></td>
            }
            else if (caseCreateRqst.CaseData.LineOfBusiness == null)
            {
                <td><button @onclick="@(() => AddLineOfBusiness())">Add Line Of Business</button></td>
            }
        }

    <p>Case Type: <div><CaseTypeSelection @bind-Value="caseCreateRqst.CaseType" /></div></p>
    <p>Case Business Name: <div><InputText @bind-Value="caseCreateRqst.BusinessName" /></div></p>
@*     <p>Case Privacy: <div><InputText @bind-Value="caseCreateRqst.Privacy" /></div></p>
    <p>Case Language Preference: <div><InputText @bind-Value="caseCreateRqst.LanguagePreference" /></div></p>
 *@        
        <p><PrivacySelection @bind-Value="PrivacySelection" /></p>
        <p><LanguagePreferenceSelection @bind-Value="LanguagePreferenceSelection" /></p>
        @if(caseCreateRqst.Customer != null)
        {
            <h4>Customer</h4>
        <p>First Name: <div><InputText @bind-Value="caseCreateRqst.Customer.First" /></div></p>
        <p>Last Name: <div><InputText @bind-Value="caseCreateRqst.Customer.Last" /></div></p>
        <p>Email: <div><InputText @bind-Value="caseCreateRqst.Customer.Email" /></div></p>
        <p>Mobile: <div><InputText @bind-Value="caseCreateRqst.Customer.Mobile" /></div></p>
        }
        @if (caseCreateRqst.PrimaryContact != null)
        {
        <table>
            <tr>
                <td>
                    <h4>Primary Contact</h4>
                </td>
            </tr>
            <tr>
                <td><OperatorSelection @bind-Value="AssignOperatorID" /></td>
            </tr>
            <tr>
                <td><button @onclick="@(() => RemovePrimaryContact())">Remove Primary Contact</button></td>
            </tr>
        </table>
        }
        else
        {
        <table>
            <tr>
            <td><button @onclick="@(() => AddPrimaryContact())">Add Primary Contact</button></td>
            </tr>
        </table>
        }
        @if (caseCreateRqst.CreatedBy != null)
        {
            <h4>Created By</h4>
            <p>Email: <div><InputText @bind-Value="caseCreateRqst.CreatedBy.Email" /></div></p>
        }
        @if(caseCreateRqst.SecondaryOperators != null)
        {
@*             @foreach(Operator curOperator in caseCreateRqst.SecondaryOperators)
            {
                <h4>Secondary Operator</h4>
                <p>First Name: @curOperator.FirstName</p>
                <p>Last Name: @curOperator.LastName</p>
                <p>Email: @curOperator.Email</p>
                <p>Mobile: @curOperator.PhoneNumber</p>
            }
 *@        }

    <table>
        <tr><td><button @onclick="@(() => OpenNewCase())">Open New Case</button></td><td><button @onclick="@(() => Cancel())">Cancel</button></td></tr>
    </table>
}